*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
}
p{
    line-height: 2;
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Montserrat:ital,wght@1,600&display=swap');

header{
    position: relative;
    margin-bottom: 250px;
}
.hero{
    background-image: url('./assets/hero.png');
    background-size: cover;
    height: 500px;    
    background-position: center;
}
.menu {
    /* width: 100vw; */
    height: 70px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__item{
    background-color: aliceblue;
    height: 53px;
    width: 86px;
    /* padding: 5px 12px; */
    border-radius: 26.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu__item h1{
    margin-right: 5px;
    font-size: 32px;
    color: black;
    font-weight: bold;
    transform: rotate(180deg);
    margin-bottom: 8px;
}
.menu__item .icon{
    display: block;
    width: 50px;
    height: 50px;
}
.menu__item img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.card{
    min-height: 284px;
    width: 477px;
    background-color: antiquewhite;
    padding: 20px;
    position: absolute;
    bottom: -180px;
    left: 50px;
    box-shadow: 0 0 5px 2px rgba(61, 11, 11, 0.3);
}
.card p {
    margin-top: 25px;
    margin-bottom: 34px;
    font-size: 20px;
    font-weight: lighter;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}
.card h2{
    color: #000;
    font-size: 39px;
}
.card h2 span{
    color: #F78065;
}
/* button */
button.btn {
    height: 65px;
    width: 250px;
    background-color: #F78065;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
button.btn i{
    font-size: 22px;
    color: white;
}

.workingspace__box{
    max-width: 1500px;
    margin: 90px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.workingspace__thumbnail{
    width: 30%;
    /* overflow: hidden; */
    border-radius: 5%;
    border: 5px solid rgb(209, 205, 205);
}
.workingspace__thumbnail img{
    height: 180px;
    width: 247.5px;
    display: block;
    padding: 10px;
    margin-bottom: 80px;
}
.workingspace__thumbnail h3{
    font-size: 24px;
    font-weight: 700;
    font-family: 'Merriweather', serif;
    text-align: left;
    line-height: normal;
    margin-bottom: 25px;
}
.workingspace__thumbnail p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    margin-bottom: 25px;
}
.workingspace__thumbnail span{
    color: #F78065;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
/* Heading */
h2.heading{
    font-size: 36px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    margin-left: 40px;
    margin-top: 150px;
}

.box {
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 115px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 225px;
}
.box__thumbnail{
    width: 23%;
    border: 5px solid rgb(209, 205, 205);
    border: 5%;
}
.box img{
    width: 50px;
    height: 50px;
    /* margin: auto; */
    background-color: #eaeaea;
    display: block;
    padding: 10px;
    margin-bottom: 64px;
}
.box h3{
    font-size: 22px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    margin-bottom: 37px;
}
.box p {
    font-size: 14px;
    font-weight: lighter;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}
a.btn{
    /* line-height: 6; */
    font-size: 18px;
    color: #F78065;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

.card__tiga{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 85px;
    margin-right: 10px;
    margin-bottom: 340px;
}
.card__dua{
    min-height: 200px;
    width: 300px;
    background-color: antiquewhite;
    padding: 10px;
    margin-left: 40px;
    /* margin-right: 5px; */
}
.card__dua h2{
    font-size: 36px;
    font-family: 'Merriweather', serif;
    margin-bottom: 32px;
    font-weight: 700;
}
.card__dua p{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 45px;
}
.card__tiga--thumbnail{
    width: 20%;
}
.card__tiga--thumbnail img{
    width: 250px;
    height: 600px;
    display: block;
    margin-bottom: 24px;
}
.card__tiga--thumbnail h3{
    font-size: 24px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    margin-bottom: 12px;
}
.card__tiga--thumbnail p{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #3F3D56;
    margin-bottom: 12px;
}
/* Heading */
h3.heading{
    font-size: 36px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    margin-left: 60px;
    margin-bottom: 118px;
}
.card__empat{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
    max-width: 1500px;
    border-left: 8px solid #C4C4C4;
    margin-bottom: 220px;
    
}
.card__empat--thumbnail{
    margin-left: 5px;
    width: 30%;
    border-radius: 5%;
}
.card__empat--thumbnail img{
    height: 50px;
    width: 50px;
    display: block;
    padding: 5px;
    background-color: #eaeaea;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 65px;
}
.card__empat--thumbnail h3{
    font-size: 20px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    margin-bottom: 50px;
    white-space: nowrap;
}
.card__empat--thumbnail p{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    /* margin: 0 auto; */
    max-width: 1500px;
    background-color: #F7F7F7;
    /* height: 575px; */
    padding: 60px 43px;
    /* width: 1440px; */
    /* margin-bottom: 95px; */
    position: relative;
    
}

/* Untuk membuat Line Setelah Footer/Dibawah Footer */
footer::after{
    display: flex;
    content: "";
    border-bottom: 3px solid black;
    /* margin: 0 50px; */
    width: 86%;
    order: 1;
    position: absolute;
    left: 96px;
    top: 76%;
    /* right: -350px; */
}
footer .card_box1, 
footer .card_box2{
    margin-bottom: 95px;
    width: 207px;
    height: 280px;
    padding: 10px;
}
footer .card_box1 h4{
    font-size: 24px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
}
footer .card_box1 h1{
    font-size: 48px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
}
footer .card_box2 h2{
    font-size: 18px;
    font-weight: 700;
    font-family: 'Merriweather', serif;
    line-height: 2;
}
footer .card__box2 p{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

footer nav{
    width: 85vw;
    height: 70px;
    /* background-color: #F78065; */
    padding: 0 50px;
    justify-content: flex-start;
    align-items: center;
    order: 2;
}
footer .navbar__brand{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    cursor: pointer;
}
footer .navbar__menu{
    margin-left: auto;
    display: flex;
    list-style: none;
    gap: 20px;
    text-transform: capitalize;
}
footer .navbar__menu li a{
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    color: black;
    transition: all 0.5s ease;
}
footer .navbar__menu li a:hover{
    background-color: aqua;
    color: white;
}